body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  scroll-behavior: smooth; 
  padding-top: 140px;
  background-color: #f4f4f4;
}

/* .about {
  margin-top: 50px; 
  margin-left: 20px; 
} */

.about h1 {
  margin-left: 45%;
}
strong{
  margin-left: 5%;
}
.about h2  {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  padding-left: 45%;
}

.about p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-left: 3%;
}

.about ul {
  list-style-type: square;
  margin-left: 10%;
  margin-bottom: 15px;
}

.profile-container {
  display: flex; /* Use flexbox for layout within the profile container */
  align-items: center; /* Align items vertically in the center */
}

#profile-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 10px; 
}

header h1 p {
  margin: 0;
  font-size: 180px;
}

section {
  padding: 2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px; /* Adjust padding as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

section#contact {
  border-bottom: none;
}

h2 {
  color: #333;
}

.project {
  margin-bottom: 2em;
}

section#contact {
  margin-bottom: 10em; 
}

.project2-details {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.project2-details h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 15px;
}

.project2-details p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}
